/*********************************\
        $HOMES
\*********************************/

.main{
    margin: {
      top: 20px;
      bottom: 20px;  
    } 


    &--home{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        column-gap: 24px;
        row-gap: 52px;
        max-width: 1300px;
        margin: {
            left: auto;
            right: auto;
        } 
    }
}