/*********************************\
        $BTNS
\*********************************/
.btn{   
        display: inline-block;
        color: selecColorText(claro);
        @include font-size(big-medium);
        @include add-style-title;
        &--cuadrado{
                padding: 8px;
                margin-top: 4px;
                border: 2px solid selecColorBg(white);
        } 
}