/*********************************\
        $SEARCHS
\*********************************/

.search{
    display: flex;
    align-items: center;
    padding-top: 20px;
    &__icon{
        font-size: 20px;
        color: selecColorText(secundario);
    }
    &__label{
        font-family: $font-secundaria;
        font-weight: selecFontWeight(bold);
        color: selecColorText(variacion);
        text-transform: uppercase;
        @include font-size(big);
        
    }
}