/*********************************\
        $MIXINS
\*********************************/

@mixin font-size($size-label){
    $size-px: selecFontSize($size-label);
    $size-REM: calcularREM($size-px);
    font-size: $size-REM;
    line-height: $size-REM * 1.5;
}

@mixin add-dimension($width-size,$height-size){
    width: $width-size;
    height: $height-size;
}

@mixin add-style-title{
    font-family: $font-secundaria;
    font-weight: selecFontWeight(bold);
    text-transform: uppercase;
}

@mixin add-background-img($url-img){
    background-image: url($url-img);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: cover;
}